body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-family:Ink Free;*/
    background-color: #f4f4f4;
}

header{
    position: sticky;
    top: 0 ;
    z-index: 100;
    font-size: smaller;
    color:#171717;
font-family: 'Patrick Hand', 'Ink Free', cursive;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    gap: 3px;

}

header > img{
    width: 50px;
    height: 50px;  
    padding: 5px 5px; 
}

header > h1{
    font-size: 28px;
    font-weight: 700;
    color: #171717;
    margin: 0;
}


.ingredients-form{
   
    margin:30px 30px 10px;
    font-family: 'Patrick Hand', 'Ink Free', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: row;*/
    gap: 10px;

}
.ingredients-form > label{
    color: #171717;
    font-weight:bold;
    min-width:max-content;
}


.txt{
    padding-left: 10px;
    border-width: 0;
    width: 300px;
    height: 28px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.txt:focus{
    outline: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.btn-add{
    font-family: 'Patrick Hand', 'Ink Free', cursive;
    font-weight: 600;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.3s;
    min-width: max-content;
}



.btn-remove{
    scale: 0.90;
    margin-left: 50px;
    font-family: 'Patrick Hand', 'Ink Free', cursive;
    font-weight: 600;
    background-color: #575757;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.3s;
    min-width: max-content;
}

.btn-add:hover{
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.btn-add:active {
    transform: scale(0.90);
    /* Scaling button to 0.90 to its original size */
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
     /* Lowering the shadow */
     transition: 0.2s;
}

.btn-remove:hover{
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}
.btn-remove:active {
    transform: scale(0.90);
    /* Scaling button to 0.90 to its original size */
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
     /* Lowering the shadow */
     transition: 0.2s;
}


@media (max-width: 600px) {
    .ingredients-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*gap: 10px;*/
    }
    .ingredients-list{
        align-items: center;
    }
}

.ingredients-list-header{
 
    font-family: 'Patrick Hand', 'Ink Free', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ingredients-list{
    
    font-family: 'Patrick Hand', 'Ink Free', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom:30px;
}

h2{
    color: #171717;
}

td{
    font-size: 15px;
    font-weight: 600;
}

.recipe-ready{
    width: fit-content;
    min-width: max-content;
    padding: 0px 20px 0px 20px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 30px;
    background-color: rgb(224, 224, 224);
    font-family: 'Patrick Hand', 'Ink Free', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

@media (max-width: 600px) {
    .recipe-ready{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
        text-align: center;
        gap :0px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .ingredients-list{
        align-items: center;
    }
}



.btn-recipe{
    font-size: 13px;
    /*margin-left: 50px;*/
    font-family: 'Patrick Hand', 'Ink Free', cursive;
    font-weight: 600;
    background-color: #c75f32;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 15px 15px 15px;
    border-radius: 8px;
    cursor:pointer;
    transition: 0.3s;
    min-width: max-content;

}

.btn-recipe:hover{
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.btn-recipe:active {
    transform: scale(0.90);
    /* Scaling button to 0.90 to its original size */
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
     /* Lowering the shadow */
     transition: 0.2s;
}
